body {
 margin: 0;
 background-color: #333;
 font-family:'Courier New', Courier, monospace;
}

.logo {
  float: left;
  max-width: 30%;
  height: auto;
  padding: 10px 10px;
}

.header {
  position: relative;
  width: auto;
}

.home-header {
  background-image: url("assets/home-header.webp");
  min-height: 250px;
  background-position: 50% 41%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.menu {
  float: right;
  font-size:30px;
  color: #f1f1f1;
  cursor:pointer;
  padding: 40px 40px;
}

/*.image-crop {
  float: left;
  width: 900px;
  max-width: 50%;
  height: auto;
  overflow: hidden;
  padding: 20px;
}*/

.container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #f1f1f1;
}

.container img {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.text-overlay {
  position: relative;
  max-width: 550px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  border-radius: 5px;
}